{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'haz.css' %}">
    <title>Haz Lazuardi - Confirmation Page</title>
</head>

<body>
    <section class="grid-autofit-la bg-black ">
        <div class="container-100p flexrow-cccl margin-1em">
            <div>
                <h1>
                    Please check one more time!
                </h1>
                <br>
                <p> Make sure there's no typo in your message "{{ message }}", {{ name }}!
                </p>
            </div>
            <br><br>
            <div class="">
                <form action="/" method="POST" class="flexrow-cccl">
                    <div class="">
                        {% csrf_token %}
                        <h4>Name: </h4>
                        <input class="form-control" type="text" name="name" value="{{ name }}" required readonly>
                        <br><br><br>
                        <h5>Message: </h5>
                        <input class="form-control" type="text" name="message" value="{{ message }}" required readonly>
                        <br>
                        <br><br>
                        <input type="submit" class="postit cta-outline-green" value="Post it!">
                    </div>
                </form>
                <br><br>
                <form action="/" method="GET">
                    <input type="submit" value="Nevermind, delete it.">
                </form>
            </div>
        </div>
    </section>
</body>

</html>