{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'haz.css'%}" type="text/css">
    <title>Haz Lazuardi - Story 7</title>
</head>

<body>
    <section class="grid-autofit-la bg-black ">
        <div class="container-100p flexrow-cccl margin-1em">
            <div>
                <h1>
                    Tell me about your thoughts!
                </h1>
                <br>
            </div>
            <div class="">
                <form action="confirm/" method="POST" class="flexrow-cccl">
                    <div class="">
                        {% csrf_token %} {% for field in form %}
                        <div>{{ field.label_tag }}</div>
                        <br>
                        <div>{{ field }}</div>

                        <br> {% endfor %}
                        <input type="submit" class="postit cta-outline-green" value="Message">
                    </div>
                </form>
            </div>
        </div>
        <div class="container-100p flexrow-ccc">
            <h1>Stories</h1>
            <br>
            <div class="container-50vh-nopad-fixed overflowy-scroll">
                {% for i in queryset %}
                <div class="flexible-cards bg-white flexrow-llcl margin-1em">
                    <h4 style="font-size: 1em;">
                        {{ i.name }}
                    </h4>
                    <br>
                    <p style="font-size: 0.7em; color:rgba(0,0,0,0.5)">{{i.message}}</p>
                </div>
                <br> {% endfor %}
            </div>
        </div>
    </section>

</body>

</html>